<div class="container">
  <table border=1 class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Phone</th>
    </tr>
      <tr *ngFor="let d of data | async" [attr.id]="d.id"> <!--each row id == id-->
          <td>{{ d.id }}</td>
          <td>{{ d.name }}</td>
          <td>{{ d.email }}</td>
          <td>{{ d.age }}</td>
          <td>{{ d.phone }}</td>
          <button id="remove" (click)="deleteRow(d.id)">DELETE ROW</button>
      </tr>
  </table> 
</div>