<mat-nav-list>
  <a fxHide.gt-xs mat-list-item routerLink="/signup" (click)="onclose()">
  <mat-icon class="icons">face</mat-icon>
  <span class="nav-caption">Signup</span>
  </a>

  <a fxHide.gt-xs mat-list-item routerLink="/login"(click)="onclose()">
      <mat-icon class="icons">face</mat-icon>
      <span class="nav-caption">Login</span>
      </a>

      <a fxHide.gt-xs mat-list-item routerLink="/jobs"(click)="onclose()">
          <mat-icon class="icons">face</mat-icon>
          <span class="nav-caption">Jobs</span>
          </a>
</mat-nav-list>