<mat-toolbar color="primary">
  <div><button mat-icon-button (click)="onToggleSidenav()"><mat-icon>menu</mat-icon></button></div>
      <div style="font-family: cursive"><a routerLink="/">HELPINC</a></div>
      <div fxFlex fxLayoutAlign="end">
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                 
              <li><a fxHide.xs routerLink="/signup" routerLinkActive="active">Signup</a></li>
              <li><a fxHide.xs routerLink="/login" routerLinkActive="active">Login</a></li>
              <li><a routerLink="/register" routerLinkActive="active"><mat-icon>create</mat-icon>Post a new job</a></li>
              
          </ul>
      </div>
  </mat-toolbar>