<mat-sidenav-container id="first-nav">
    <mat-sidenav #sidenav role="navigation">
  <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
        <mat-sidenav-content>
        
              <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
                <mat-sidenav-container id="second-nav">
                
                        <mat-sidenav *ngIf="isAuth" fxHide.xs mode="side" opened><span id="dash"><a  routerLink="/jobs">Jobs</a></span>
              
                        </mat-sidenav>
                        <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
                      </mat-sidenav-container>
         
        </mat-sidenav-content>
        
</mat-sidenav-container>


